<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="/list :: head">
</head>
<body>
<div class="container">
    <h1>Blog</h1>
<!--    <th:block th:oj="customers : ${customer}">-->
<!--        <h2 th:text="${customer.id}"></h2>-->
<!--    </th:block>-->

    <h2 th:text="${customer.id}"></h2>
    <h2 th:text="${customer.name}"></h2>
    <h2 th:text="${customer.title}"></h2>
    <p th:text="${customer.content}" style="color: blue"></p>
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <th> ID</th>-->
<!--            <th>First name</th>-->
<!--            <th>Last name</th>-->
<!--        </tr>-->
<!--        <th:block th:each="customer : ${customer}">-->
<!--            <tr>-->
<!--                <td th:text="${customer.id}"></td>-->
<!--                <td th:text="${customer.firstName}"></td>-->
<!--                <td th:text="${customer.lastName}"></td>-->
<!--            </tr>-->
<!--        </th:block>-->
<!--    </table>-->
    <a th:href="@{/blog}" class="btn btn-outline-primary">Back</a>
</div>
</body>
</html>